.filter-container{
    display: flex;
    flex-direction:column;
    gap: 1.25rem;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heading>:not(h3){
    display:none;
}

.filter-form{
    display: flex;
    flex-direction: column;
    gap:3.75rem;
}

.filter{
    display: flex;
    flex-direction: column;
    gap:1.25rem;
}

.filter-type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0;
}

.filter-list{
    display: flex;
    flex-direction: column;
    gap:0.75rem;
}

input[type="checkbox"]{
    margin-right: 1.25rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
}

input[type="checkbox"]::before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #E5DDDD;
    border-radius: 2px;
}

input[type="checkbox"]:checked::before{
    border: #E5DDDD solid 4px;
    background-color: #221F17;
}

.filter-buttons{
    display: none;
}

.filter-buttons>.button{
    width: 100%;
}

@media screen and (max-width:991px ) {
    .filter-container{
        overflow-y:scroll;
        width: 50vw;
        height: 100vh;
        background-color: #fcfcfc
    }

    .heading{
        position: fixed;
        top:0;
        width:50%;
        height:fit-content;
        padding:18px 16px;
        background-color: #fcfcfc;
        box-shadow: 0px 4px 4px rgba(34, 31, 23, 0.20);
    }

    .heading>h3{
        display: none;
    }
    .heading>:not(h3){
        display:block;
    }

    
    .filter-form{
        margin-top:80px;
        gap: 1.25rem;
    }

    .filter{
        margin:0 16px;
        border-bottom: solid 1px #E5DDDD;
    }

    .filter-list{
        margin-bottom: 1.25rem;
    }

    .filter-buttons{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:0.5rem;
        position:sticky;
        bottom: 0;
        background-color: #fcfcfc;
        padding:16px;
        box-shadow: 0px -4px 4px rgba(34, 31, 23, 0.20);

    }
}

@media screen and (max-width:575px) {
    .filter-container{
        width: 100%;
    }
    
    .heading{
        width: 100%;
    }
}