@font-face {
    font-family: Argue DEMO;
    src: url("./fonts/Argue\ DEMO.otf") format('otf');
}
@font-face {
    font-family: Poppins Regular;
    src: url("./fonts/Poppins-Regular.ttf") format("ttf");
}

@font-face {
    font-family: Poppins Medium;
    src: url("./fonts/Poppins-Medium.ttf") format("ttf");
}