
hr{
    margin: 0 !important;
  }
  .dropdown{
    display: none;
  }
  
  .dropdown.active{
    background-color: #fcfcfc;
    display: block;
  }
  
  .dropdown .row{
    margin:40px 70px;
  }
  
  .menu{
    display: flex;
    justify-content: space-between;
  }
  
  .menu-list{
    list-style: none;
    padding:0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  
  
  .menu-item a{
    text-decoration: none;
  }

  .menu-item a:hover{
    text-decoration: underline;
    color:#221F17;
  }
  
  .dropdown-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    margin-left:3.75rem;
  }
  
  .dropdown-img{
    object-fit: contain;
  }
  
  .desc-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:60px;
  }
  
  .desc-container img{
    transform: rotate(-90deg);
    width: 25px;
    aspect-ratio: 1/1;
  }