h2{
    text-align: center;
}

.card-container{
    padding:0;
    margin-top:0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.product-page-container{
    margin: 120px 70px;
}

.product-page-container>.row{
    align-items: flex-start;
    justify-content: space-between;
}

.product-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem
}

button.filter-btn{
    display: none;
}

button.filter-btn>img{
    width:15px;
    aspect-ratio: 1/1;
}


@media screen and (max-width:991px) {
    .product-page-container{
        margin: 0 12px;
    }

    .product-section{
        margin-top:120px;
    }

    .product-page-container>.row{
        justify-content: flex-start;
    }

    aside{
        display:none !important;
        padding:0 !important;
    }

    aside.active{
        display: block !important;
        width: 100vw;
        position: fixed;
        z-index: 2;
        background: rgba(34, 31, 23, 0.6);
    }

    button.filter-btn{
        display: block;
    }
}


@media screen and (max-width:575px) {
    aside.active{
        background: none;
    }
    .card-container{
        justify-content: center;
    }

    
}
